@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

.application {
  height: 100vh;
  background-color: #f5f7fa;
  /* font-family: "Instrument Sans", sans-serif; */
  font-family: "Manrope", sans-serif;
}

h3 {
  font-weight: 700;
  font-size: medium;
}
